*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}
/************************* STRUTTURA *************************/

/* DEBUG:  */
aside, #top-bar, #contents, #player{
  background-color: rgba(255, 0, 0, 0.5);
  border: 2px solid red;
}

aside{
  width: 230px;
  height: calc(100vh - 90px);
  float: left;
}

#top-bar{
  width: calc(100% - 230px);
  height: 90px;
  float: left;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#contents{
  width: calc(100% - 230px);
  height: calc(100vh - 180px);
  float: left;
  overflow-y: scroll;
}

main::after{
  content: '';
  display: table;
  clear: both;
}

#player{
  height: 90px;
}

img{
  width: 100%;
  display: block;
}

/************************* REGOLE SPECIFICHE *************************/

/* aside */
.logo{
  height: 85px;
  padding: 10px;
  display: flex;
  align-items: center;

  /* DEBUG:  */
  background-color: blue;
}

.logo img:last-child{
  display: none;
}

.page{
  padding: 10px;
}

#top-bar a{
  padding: 20px;
  border: 1px solid white;
}

/* nav */
nav{
  padding: 10px 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav ul li{
  display: inline-block;
  margin: 10px;
}

/* contents */
.row{
  color: white;
  padding: 20px;
}

.row>p{
  margin-top: 5px;
}

.albums, .artists{
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}

.item{
  width: 180px;
  height: fit-content;
  margin-right: 20px;
  position: relative;
  float: left;
}

.item:last-child{
  margin-right: 0;
}

.layover{
  width: 180px;
  height: 180px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 30px;
  text-align: center;
  line-height: 180px;

  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.item:hover .layover{
  display: block;
  cursor: pointer;
}

.caption{
  width: 180px;
  padding: 15px 5px;
  text-align: center;
  position: relative;
  bottom: 0;
}

.artists img{
  border-radius: 50%;
}
/************************* RESPONSIVE *************************/

@media all and (max-width: 552px) {

  aside{
    width: 50px;
  }

  #top-bar{
    width: calc(100% - 50px)
  }

  #contents{
    width: calc(100% - 50px);
  }

  /* aside */
  .logo img:first-child{
    display: none;
  }

  .logo img:last-child{
    display: block;
  }

  .page a{
    display: none;
  }

  .playlist{
    display: none;
  }
}
