*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}
/************************* STRUTTURA *************************/

aside{
  width: 230px;
  height: calc(100vh - 90px);
  background-color: #000;
  padding: 10px;
  float: left;
  position: relative;
}

#top-bar{
  width: calc(100% - 240px);
  height: 90px;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  right: 10px;
  z-index: 800;
}

#contents{
  width: calc(100% - 230px);
  height: calc(100vh - 90px);
  padding-top: 90px;
  float: left;
  overflow-y: scroll;
  background-color: #141922;
}

main::after{
  content: '';
  display: table;
  clear: both;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  transition: color 0.5s ease 0s;
  color: #717171;
}

a:hover{
  color: white;
}

/************************* REGOLE SPECIFICHE *************************/

/* aside */
.logo{
  height: 70px;
  display: flex;
  align-items: center;margin-bottom: 10px;
}

.logo img:first-child{
  width: 150px;
}

.logo img:last-child{
  display: none;
}

.page img{
  width: 30px;
  margin-right: 5px;
  vertical-align: middle;
}

.page li{
  padding-left: 5px;
  margin-bottom: 10px;
}

.page li:first-child{
  border-left: 2px solid #ADFF2F;
}

.playlist h4{
  color: white;
  margin: 20px 0 10px;
}

.add{
  background-color: #A3A3A3;
  width: 40px;
  height: 40px;
  margin-right: 5px;

  color: #000;
  text-align: center;
  line-height: 40px;

  display: inline-block;
  vertical-align: middle;
}

.playlist ul{
  overflow-y: scroll;
}

.playlist li{
  margin-top: 15px;
}

.profile{
  width: 210px;
  height: 50px;
  background-color: red;
  position: absolute;
  bottom: 0;
}

#top-bar a{
  width: 250px;
  height: 50px;
  color: white;
  text-align: center;
  line-height: 50px;
  border: 1px solid white;
  border-radius: 30px;
  transition: transform 0.5s ease 0s;
}

#top-bar a:hover{
  transform: scale(1.1);
}

/* nav */
nav{
  padding: 10px 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav ul li{
  display: inline-block;
  margin: 10px;
}

.underline{
  width: 35px;
  height: 2.5px;
  background-color: #ADFF2F;
  border-radius: 3px;
  margin-top: 2.5px;

  display: none;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

nav ul li:first-child .underline{
  display: block;
}

/* contents */
.row{
  color: white;
  padding: 20px;
}

.row>p{
  margin-top: 5px;
}

.albums, .artists{
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}

.item{
  width: 180px;
  height: fit-content;
  margin-right: 20px;
  position: relative;
  float: left;
}

.item:last-child{
  margin-right: 0;
}

.layover{
  width: 100%;
  height: 180px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 30px;
  text-align: center;
  line-height: 180px;

  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;

  transition: opacity 1s ease 0s;
}

.item:hover .layover{
  opacity: 1;
  cursor: pointer;
}

.item img{
  width: 100%;
  display: block;
}

.caption{
  width: 100%;
  padding: 15px 5px;
  text-align: center;
  position: relative;
  bottom: 0;
}

.albums .caption p{
  margin-bottom: 5px;
}

.caption span,
.row>p{
  color: #717171;
  font-size: 15px;
  display: block;
}

.artists img,
.artists .layover{
  border-radius: 50%;
}

/* player */
#player{
  height: 90px;
  color: white;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.player-side,
.player-center,
.icon,
.ctrl,
.song-playing{
  display: flex;
  align-items: center;
}

.player-side,
.icon,
.song-playing{
  justify-content: space-between;
}

.player-side{
  flex-basis: 230px;
  flex-shrink: 1;
}

.player-side:first-child{
  padding-left: 10px;
}

.player-side:last-child{
  padding-right: 10px;
}

.player-center{
  flex-basis: 500px;
  flex-shrink: 3;
  flex-direction: column;
  justify-content: space-evenly;

  padding: 0 10px;
}

.player-side img{
  width: 45px;
  float: left;
}

/* #now-playing{
  float: left;
  height: 45px;
  color: #878787;
  font-size: 13px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

#now-playing{
  flex-grow: 1;
  margin: 0 10px;
}

#now-playing span{
  color: #878787;
  font-size: 13px;
}

.icon{
  width: 45px;
  height: 45px;
  float: right;
}

.bar,
.prog{
  height: 3px;
  border-radius: 5px;
}

.bar{
  flex-basis: 120px;
  background-color: #5A5A5A;
  display: inline-block;
}

.player-center .bar{
  flex-grow: 1;
  margin: 0 20px;
}

.ctrl{
  justify-content: space-evenly;
  width: 300px;
}

.song-playing{
  width: 100%;
}

.song-playing span{
  font-size: 10px;
}

.circle-play{
  width: 30px;
  height: 30px;
  padding: 5px;
  border: 2px solid white;
  border-radius: 50%;

  display: inline-block;
  position: relative;
  transition: transform 0.5s ease 0s;
}

.circle-play:hover{
  transform: scale(1.2);
}

.circle-play .fa-play{
  display: block;
  position: relative;
  top: 50%;
  left: 64%;
  transform: translate(-50%, -50%);
}

.prog{
  width: 40%;
  background-color: #C1C1C1;
}

/************************* RESPONSIVE *************************/
/* XS */
@media all and (max-width: 552px) {

  aside{
    width: 50px;
  }

  #top-bar{
    width: calc(100% - 50px)
  }

  #contents{
    width: calc(100% - 50px);
  }

  /* aside */
  .logo img:first-child{
    display: none;
  }

  .logo img:last-child{
    display: block;
  }

  .page span{
    display: none;
  }

  .playlist{
    display: none;
  }
}

/*MD*/
@media all and (max-width: 878px) {

  .icon{
    width: auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.8);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
